body {
    box-sizing: border-box;
}

.container {
    background-color: lightblue;
    width: 400px;
    height: 600px;
    background-color: #E4D00A;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.pList {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

.btnAdd {
    background-color: #0096FF;
}

.btnDelete {
    background-color: red;
}